doctype html
html(lang='ja')
  head
    meta(charset='utf-8')
    meta(property='og:title' content='20x20')
    meta(property="og:site_name" content="Ryota-ka.me")
    meta(property='og:type' content='website')
    meta(property='og:url' content='http://20x20.ryota-ka.me/')
    meta(property='og:image' content='http://20x20.ryota-ka.me/20x20.png')
    meta(property='og:description' content='20x20までの掛け算を練習できます。目指せダルシム！')
    link(rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:300')
    link(rel='stylesheet' type='text/css' href='style.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(src='main.js')
    title='20x20'
  body
    #calc
      #left='1'
      #times='×'
      #right='1'
      #equal='='
      #answer='?'
    table#answers
      tbody
    #background
      .button.button-column
      .row
        .button.button-row(data-row='1')
        .cell.row-1.small
        .cell.row-1.small
        .cell.row-1.small
        .cell.row-1.small
        .cell.row-1.small
        .cell.row-1.small
        .cell.row-1.small
        .cell.row-1.small
        .cell.row-1.small
        .cell.row-1.small
        .cell.row-1.great
        .cell.row-1.great
        .cell.row-1.great
        .cell.row-1.great
        .cell.row-1.great
        .cell.row-1.great
        .cell.row-1.great
        .cell.row-1.great
        .cell.row-1.great
        .cell.row-1.great
      .row
        .button.button-row(data-row='2')
        .cell.row-2.small
        .cell.row-2.small
        .cell.row-2.small
        .cell.row-2.small
        .cell.row-2.small
        .cell.row-2.small
        .cell.row-2.small
        .cell.row-2.small
        .cell.row-2.small
        .cell.row-2.small
        .cell.row-2.great
        .cell.row-2.great
        .cell.row-2.great
        .cell.row-2.great
        .cell.row-2.great
        .cell.row-2.great
        .cell.row-2.great
        .cell.row-2.great
        .cell.row-2.great
        .cell.row-2.great
      .row
        .button.button-row(data-row='3')
        .cell.row-3.small
        .cell.row-3.small
        .cell.row-3.small
        .cell.row-3.small
        .cell.row-3.small
        .cell.row-3.small
        .cell.row-3.small
        .cell.row-3.small
        .cell.row-3.small
        .cell.row-3.small
        .cell.row-3.great
        .cell.row-3.great
        .cell.row-3.great
        .cell.row-3.great
        .cell.row-3.great
        .cell.row-3.great
        .cell.row-3.great
        .cell.row-3.great
        .cell.row-3.great
        .cell.row-3.great
      .row
        .button.button-row(data-row='4')
        .cell.row-4.small
        .cell.row-4.small
        .cell.row-4.small
        .cell.row-4.small
        .cell.row-4.small
        .cell.row-4.small
        .cell.row-4.small
        .cell.row-4.small
        .cell.row-4.small
        .cell.row-4.small
        .cell.row-4.great
        .cell.row-4.great
        .cell.row-4.great
        .cell.row-4.great
        .cell.row-4.great
        .cell.row-4.great
        .cell.row-4.great
        .cell.row-4.great
        .cell.row-4.great
        .cell.row-4.great
      .row
        .button.button-row(data-row='5')
        .cell.row-5.small
        .cell.row-5.small
        .cell.row-5.small
        .cell.row-5.small
        .cell.row-5.small
        .cell.row-5.small
        .cell.row-5.small
        .cell.row-5.small
        .cell.row-5.small
        .cell.row-5.small
        .cell.row-5.great
        .cell.row-5.great
        .cell.row-5.great
        .cell.row-5.great
        .cell.row-5.great
        .cell.row-5.great
        .cell.row-5.great
        .cell.row-5.great
        .cell.row-5.great
        .cell.row-5.great
      .row
        .button.button-row(data-row='6')
        .cell.row-6.small
        .cell.row-6.small
        .cell.row-6.small
        .cell.row-6.small
        .cell.row-6.small
        .cell.row-6.small
        .cell.row-6.small
        .cell.row-6.small
        .cell.row-6.small
        .cell.row-6.small
        .cell.row-6.great
        .cell.row-6.great
        .cell.row-6.great
        .cell.row-6.great
        .cell.row-6.great
        .cell.row-6.great
        .cell.row-6.great
        .cell.row-6.great
        .cell.row-6.great
        .cell.row-6.great
      .row
        .button.button-row(data-row='7')
        .cell.row-7.small
        .cell.row-7.small
        .cell.row-7.small
        .cell.row-7.small
        .cell.row-7.small
        .cell.row-7.small
        .cell.row-7.small
        .cell.row-7.small
        .cell.row-7.small
        .cell.row-7.small
        .cell.row-7.great
        .cell.row-7.great
        .cell.row-7.great
        .cell.row-7.great
        .cell.row-7.great
        .cell.row-7.great
        .cell.row-7.great
        .cell.row-7.great
        .cell.row-7.great
        .cell.row-7.great
      .row
        .button.button-row(data-row='8')
        .cell.row-8.small
        .cell.row-8.small
        .cell.row-8.small
        .cell.row-8.small
        .cell.row-8.small
        .cell.row-8.small
        .cell.row-8.small
        .cell.row-8.small
        .cell.row-8.small
        .cell.row-8.small
        .cell.row-8.great
        .cell.row-8.great
        .cell.row-8.great
        .cell.row-8.great
        .cell.row-8.great
        .cell.row-8.great
        .cell.row-8.great
        .cell.row-8.great
        .cell.row-8.great
        .cell.row-8.great
      .row
        .button.button-row(data-row='9')
        .cell.row-9.small
        .cell.row-9.small
        .cell.row-9.small
        .cell.row-9.small
        .cell.row-9.small
        .cell.row-9.small
        .cell.row-9.small
        .cell.row-9.small
        .cell.row-9.small
        .cell.row-9.small
        .cell.row-9.great
        .cell.row-9.great
        .cell.row-9.great
        .cell.row-9.great
        .cell.row-9.great
        .cell.row-9.great
        .cell.row-9.great
        .cell.row-9.great
        .cell.row-9.great
        .cell.row-9.great
      .row
        .button.button-row(data-row='10')
        .cell.row-10.small
        .cell.row-10.small
        .cell.row-10.small
        .cell.row-10.small
        .cell.row-10.small
        .cell.row-10.small
        .cell.row-10.small
        .cell.row-10.small
        .cell.row-10.small
        .cell.row-10.small
        .cell.row-10.great
        .cell.row-10.great
        .cell.row-10.great
        .cell.row-10.great
        .cell.row-10.great
        .cell.row-10.great
        .cell.row-10.great
        .cell.row-10.great
        .cell.row-10.great
        .cell.row-10.great
      .row
        .button.button-row(data-row='11')
        .cell.row-11.small
        .cell.row-11.small
        .cell.row-11.small
        .cell.row-11.small
        .cell.row-11.small
        .cell.row-11.small
        .cell.row-11.small
        .cell.row-11.small
        .cell.row-11.small
        .cell.row-11.small
        .cell.row-11.great
        .cell.row-11.great
        .cell.row-11.great
        .cell.row-11.great
        .cell.row-11.great
        .cell.row-11.great
        .cell.row-11.great
        .cell.row-11.great
        .cell.row-11.great
        .cell.row-11.great
      .row
        .button.button-row(data-row='12')
        .cell.row-12.small
        .cell.row-12.small
        .cell.row-12.small
        .cell.row-12.small
        .cell.row-12.small
        .cell.row-12.small
        .cell.row-12.small
        .cell.row-12.small
        .cell.row-12.small
        .cell.row-12.small
        .cell.row-12.great
        .cell.row-12.great
        .cell.row-12.great
        .cell.row-12.great
        .cell.row-12.great
        .cell.row-12.great
        .cell.row-12.great
        .cell.row-12.great
        .cell.row-12.great
        .cell.row-12.great
      .row
        .button.button-row(data-row='13')
        .cell.row-13.small
        .cell.row-13.small
        .cell.row-13.small
        .cell.row-13.small
        .cell.row-13.small
        .cell.row-13.small
        .cell.row-13.small
        .cell.row-13.small
        .cell.row-13.small
        .cell.row-13.small
        .cell.row-13.great
        .cell.row-13.great
        .cell.row-13.great
        .cell.row-13.great
        .cell.row-13.great
        .cell.row-13.great
        .cell.row-13.great
        .cell.row-13.great
        .cell.row-13.great
        .cell.row-13.great
      .row
        .button.button-row(data-row='14')
        .cell.row-14.small
        .cell.row-14.small
        .cell.row-14.small
        .cell.row-14.small
        .cell.row-14.small
        .cell.row-14.small
        .cell.row-14.small
        .cell.row-14.small
        .cell.row-14.small
        .cell.row-14.small
        .cell.row-14.great
        .cell.row-14.great
        .cell.row-14.great
        .cell.row-14.great
        .cell.row-14.great
        .cell.row-14.great
        .cell.row-14.great
        .cell.row-14.great
        .cell.row-14.great
        .cell.row-14.great
      .row
        .button.button-row(data-row='15')
        .cell.row-15.small
        .cell.row-15.small
        .cell.row-15.small
        .cell.row-15.small
        .cell.row-15.small
        .cell.row-15.small
        .cell.row-15.small
        .cell.row-15.small
        .cell.row-15.small
        .cell.row-15.small
        .cell.row-15.great
        .cell.row-15.great
        .cell.row-15.great
        .cell.row-15.great
        .cell.row-15.great
        .cell.row-15.great
        .cell.row-15.great
        .cell.row-15.great
        .cell.row-15.great
        .cell.row-15.great
      .row
        .button.button-row(data-row='16')
        .cell.row-16.small
        .cell.row-16.small
        .cell.row-16.small
        .cell.row-16.small
        .cell.row-16.small
        .cell.row-16.small
        .cell.row-16.small
        .cell.row-16.small
        .cell.row-16.small
        .cell.row-16.small
        .cell.row-16.great
        .cell.row-16.great
        .cell.row-16.great
        .cell.row-16.great
        .cell.row-16.great
        .cell.row-16.great
        .cell.row-16.great
        .cell.row-16.great
        .cell.row-16.great
        .cell.row-16.great
      .row
        .button.button-row(data-row='17')
        .cell.row-17.small
        .cell.row-17.small
        .cell.row-17.small
        .cell.row-17.small
        .cell.row-17.small
        .cell.row-17.small
        .cell.row-17.small
        .cell.row-17.small
        .cell.row-17.small
        .cell.row-17.small
        .cell.row-17.great
        .cell.row-17.great
        .cell.row-17.great
        .cell.row-17.great
        .cell.row-17.great
        .cell.row-17.great
        .cell.row-17.great
        .cell.row-17.great
        .cell.row-17.great
        .cell.row-17.great
      .row
        .button.button-row(data-row='18')
        .cell.row-18.small
        .cell.row-18.small
        .cell.row-18.small
        .cell.row-18.small
        .cell.row-18.small
        .cell.row-18.small
        .cell.row-18.small
        .cell.row-18.small
        .cell.row-18.small
        .cell.row-18.small
        .cell.row-18.great
        .cell.row-18.great
        .cell.row-18.great
        .cell.row-18.great
        .cell.row-18.great
        .cell.row-18.great
        .cell.row-18.great
        .cell.row-18.great
        .cell.row-18.great
        .cell.row-18.great
      .row
        .button.button-row(data-row='19')
        .cell.row-19.small
        .cell.row-19.small
        .cell.row-19.small
        .cell.row-19.small
        .cell.row-19.small
        .cell.row-19.small
        .cell.row-19.small
        .cell.row-19.small
        .cell.row-19.small
        .cell.row-19.small
        .cell.row-19.great
        .cell.row-19.great
        .cell.row-19.great
        .cell.row-19.great
        .cell.row-19.great
        .cell.row-19.great
        .cell.row-19.great
        .cell.row-19.great
        .cell.row-19.great
        .cell.row-19.great
      .row
        .button.button-row(data-row='20')
        .cell.row-20.small
        .cell.row-20.small
        .cell.row-20.small
        .cell.row-20.small
        .cell.row-20.small
        .cell.row-20.small
        .cell.row-20.small
        .cell.row-20.small
        .cell.row-20.small
        .cell.row-20.small
        .cell.row-20.great
        .cell.row-20.great
        .cell.row-20.great
        .cell.row-20.great
        .cell.row-20.great
        .cell.row-20.great
        .cell.row-20.great
        .cell.row-20.great
        .cell.row-20.great
        .cell.row-20.great
